.task-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.task-row {
    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 0.7rem 1rem;
    border: 2px solid rgb(172, 172, 172);
    border-radius: 0.75rem;
}

.task-row-elements input {
    width: 100%;
    min-width: 15vw
}

.task-row-elements {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    gap: 0.5rem;
}





